
<h2><%= @job.title %></h2>
<hr>
<% if @job.expired? %>
  <h3>Vaga Expirada!</h3>
<% end %>
<p><strong>Empresa:</strong> <%= @job.category.name %></p>
<p><strong>Empresa:</strong> <%= @job.company.name%></p>
<p><strong>Descrição Completa:</strong> <%= @job.description %></p>
<p><strong>Localização:</strong> <%= @job.location %></p>
<p><strong>Tipo de Contrato:</strong> <%= @job.contract.try(:name) %></p>
<% if @job.featured? %>
  <strong>Vaga em Destaque</strong>
<% end %>
