<h2><%= @company.name %></h2>
<hr>
<p><strong>Nome:</strong> <%= @company.name %></p>
<p><strong>Localização:</strong> <%= @company.location%></p>
<p><strong>CNPJ:</strong> <%= @company.cnpj %></p>
<p><strong>Email:</strong> <%= @company.mail %></p>
<p><strong>Telefone:</strong> <%= @company.phone %></p>
<% link_to 'Voltar', root_path %>
